<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rc.devicemanager">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_ADMINS" />
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" />

    <!-- 发送短信权限 -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!-- 接收短信权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!-- 网络定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 模拟器定位权限 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/> -->
    <!-- 读取联系人权限 -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS"/> -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".DeviceReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".LockReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.rc.devicemanager.action.CLEAR_LOCK_PASSWORD" />
                <action android:name="com.rc.devicemanager.action.CHANGE_LOCK_PASSWORD" />
                <action android:name="com.rc.devicemanager.action.LOCK_SCREEN" />
                <action android:name="com.rc.devicemanager.action.WIPE_DATA" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".SettingDefaultReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.MANAGE_DEVICE_ADMINS">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".LostFindService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>